<div class="span10">
	<h2>Отправить заново письмо с подтверждением</h2>

	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

		<div class="clearfix">
		  <%= f.label :email %>
		  <div class="input"><%= f.email_field :email %></div>
		</div>

		  <div class="input"><%= f.submit "Отправить", :class => "btn success" %></div>
	<% end %>

	<%= render :partial => "devise/shared/links" %>
</div>