<div class="span10">
  <h2>Редактирование профиля</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

  <div class="clearfix">
      <%= f.label :username, "Имя" %>
      <div class="input"><%= f.email_field :username %></div>
  </div>

  <div class="clearfix">
    <%= f.label :email, "Электронная почта" %>
    <div class="input"><%= f.email_field :email %></div>
  </div>

  <div class="clearfix">
    <%= f.label :password, "Пароль" %>
    <div class="input"><%= f.password_field :password %><br /> <i>(оставьте пустым если не хотите менять)</i>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password_confirmation, "Подтверждение пароля" %>
    <div class="input"><%= f.password_field :password_confirmation %></div>
  </div>

  <div class="clearfix">
      <%= f.label :news, "Получать новости сайта" %>
      <div class="input"><%= f.check_box :news %></div>
  </div>

  <div class="clearfix">
    <%= f.label :current_password,"Текущий пароль" %>
    <div class="input"><%= f.password_field :current_password %><br /><i>(необходим для подтверждения изменений)</i></div>
  </div>

  <div class="clearfix">
    <div class="input"><%= f.submit "Обновить", :class => "btn success" %> <%= link_to "Отмена", :back, :class => "btn" %></div>
  </div>
  <% end %>

  <hr>

  <div class="clearfix">
    <div class="input"><%= link_to "Удалить мою регистрацию", registration_path(resource_name), :confirm => "Вы уверены?", :method => :delete, :class => "btn danger" %>
    </div>
  </div>
  
</div>
