<div class="span10">
  <h2>Зарегистрироваться</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

  <div class="clearfix">
    <%= f.label :username, "Ваше имя" %>
    <div class="input"><%= f.text_field :username %></div>  
  </div>

  <div class="clearfix">
    <%= f.label :email %>
    <div class="input"><%= f.email_field :email %></div>
  </div>

  <div class="clearfix">
    <%= f.label :password %>
    <div class="input"><%= f.password_field :password %></div>
  </div>

  <div class="clearfix">
    <%= f.label :password_confirmation %>
    <div class="input"><%= f.password_field :password_confirmation %></div>
  </div>

  <div class="clearfix">
      <%= f.label :news, "Получать новости сайта" %>
      <div class="input"><%= f.check_box :news %></div>
  </div>

  <div class="clearfix">
    <div class="input"><%= f.submit "Зарегистрироваться", :class => "btn success" %> <%= link_to "Отмена", :back, :class => "btn" %></div>
  </div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>