<div class="span10">
	<h2>Отправить повторно инструкцию по разблокировке</h2>

	<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="clearfix">
		  <%= f.label :email %>
		  <div class="input"><%= f.email_field :email %></div>
	  </div>

	  <div class="input"><%= f.submit "Resend unlock instructions", :class => "btn success" %></div>

	<% end %>

	<%= render :partial => "devise/shared/links" %>
</div>