<div class="span14">

  <% unless @companies.present? %>

    <% if params['q'].present? %>
    К сожалению ничего не найдено. Если это ваш бизнес, то вы можете <%= link_to "добавить вашу Компанию", companies_path %>.
    <% end %>

    <div class="span6">
      <div class="list-top-query" id="list-top-query">
        <h5>Примеры запросов:</h5>
        <ul>
          <li><a href='/?q=Кафе+%7C+Ресторан+%7C+Кулинария+%7C+"Продукты питания"'>Где покушать?</a>, <a href="/?q=Продукты+питания">Где купить продукты?</a></li>
          <li><a href="/?q=офисная+бумага">Офисная бумага</a></li>
          <li><a href='/?q="Подключение+к+сети+Интернет"+%7C+Провайдер'>Подключение к сети Интернет</a></li>
          <li><a href="/?q=Заправка+картриджей">Заправка картриджей</a></li>
          <li><a href="/?q=Бухгалтерия">Бухгалтерские услуги</a></li>
          <li><a href="/?q=Аптека">Аптека</a></li>
          <li><a href="/?q=Компьютеры">Компьютеры</a></li>
          <li><a href="/?q=Разработка+сайтов">Разработка сайтов</a>, <a href="/?q=Продвижение+сайтов">Продвижение сайтов</a></li>
          <li>
            <a href="/?q=сниму+офис">сниму офис</a>,
            <a href="/?q=сдам+офис">сдам офис</a>, 
            <a href="/?q=куплю+офис">куплю офис</a>, 
            <a href="/?q=продам+офис">продам офис</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="span6">
      <div class="list-top-query" id="list-top-query">
        <h5>Новые Компании:</h5>
        <ul>
          <% @companies_last.each do |company_last| %>
            <li><a href="/?q=<%= h(company_last.title) %>"><%= company_last.title %></a><br></li>
          <% end %>
          <li><strong><%= link_to "Все Компании >>", list_path %></strong></li>
        </ul>

      </div>
    </div>

  <% end %>

  <% if @companies.present? %>
    <% @companies.each do |company| %>
      <h3><%= company.title %></h3>
          <% if company.logo? %><%= image_tag company.logo %><br /><% end %>
          <%= simple_format(company.overview) %>
          <% if company.addr.present? %>Адрес: <%= company.addr %><br /><% end %>
          <% if company.tel.present? %>Телефон: <%= company.tel %><br /><% end %>
          <% if company.fax.present? %>Факс: <%= company.fax %><br /><% end %>
          <% if company.email.present? %>Электронная почта: <%= mail_to company.email, nil, :encode => "javascript" %><br /><% end %>
          <% if company.site.present? %>Сайт: <%= link_to company.site, company.site %><br /><% end %>
          <% if company.skype.present? %>Skype: <%= company.skype %><br /><% end %>
          <% if company.icq.present? %>ICQ: <%= company.icq %><% end %>
      <hr>
    <% end %>
  <% end %>
</div>