<%= form_for(@company, :html => { :multipart => true } ) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

    <div class="clearfix">
      <%= f.label :title, "Название компании" %>
      <div class="input"><%= f.text_field :title, :class => "xxlarge", :placeholder => "например: ООО \"Моя компания\"" %></div>
    </div>

    <%- unless @company.new_record? || !@company.logo? -%>
      <div class="clearfix">          
        <div class="logo_for_edit">
          <%= image_tag(@company.logo.url(:medium), :alt => 'Logo', :title => 'Логотип') %><br />
        </div>
          <%= f.label(:delete_logo, 'Удалить логотип') %>
          <div class="input"><%= f.check_box(:delete_logo) %></div>
      </div>
    <%- end -%>

    <div class="clearfix">
      <label for="fileInput">Логотип компании</label>
      <div class="input">
        <%= f.file_field :logo, :class => "input-file", :id =>"fileInput" %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :overview, "Описание" %>
      <div class="input"><%= f.text_area :overview, :class => "xxlarge", :placeholder => "например: вывоз мусора, уборка офисов, инвестиции" %></div>
    </div>

    <div class="clearfix">
      <%= f.label :addr, "Адрес" %>
      <div class="input"><%= f.text_area :addr, :class => "xxlarge",  :rows => "3", :placeholder => "например: Мележа 1-1001" %></div>
    </div>

    <div class="clearfix">
      <%= f.label :tel, "Телефон" %>
      <div class="input">
        <%= f.phone_field :tel, :class => "xxlarge", :placeholder => "например: +375 17 123-45-67, (017) 123-45-67", :title => "Номер(а) телефона(ов)" %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :fax, "Факс" %>
      <div class="input">
        <%= f.phone_field :fax, :class => "xxlarge", :placeholder => "например: +375 17 123-45-67, (017) 123-45-67", :title => "Номер(а) факса(ов)" %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :email, "Электронная почта" %>
      <div class="input">
        <%= f.email_field :email, :class => "xxlarge", :placeholder => "например: info@melezha.by", :title => "Адрес электронной почты для связи. Виден всем." %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :site, "Сайт" %>
      <% @company.site? ? val=@company.site : val="http://" %>
      <div class="input">
        <%= f.url_field :site, :class => "xxlarge", :placeholder => "например: http://melezha.by", :title => "Адрес сайта должен начинаться с http:// или https://" %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :skype, "Skype" %>
      <div class="input"><%= f.text_field :skype, :class => "xxlarge", :placeholder => "например: echo123", :title => "Skype" %></div>
    </div>

    <div class="clearfix">
      <%= f.label :icq, "ICQ" %>
      <div class="input"><%= f.text_field :icq, :class => "xxlarge", :placeholder => "например: 123-456-789 или 123456789", :title => "Номер ICQ" %></div>
    </div>

  <div class="clearfix">
    <div class="input">
      <%= f.submit "Отправить", :class => "btn success" %>
      <%= link_to 'Отмена', companies_path, :class => "btn" %>
    </div>
  </div>

<% end %>
