<div class="span14">
  <h1>Ваши компании</h1>

  <table class="">
  <tr>
      <th class="span12"></th>
      <th>Обновлено</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
  </tr>
  <% @companies.each do |company| %>
  <tr>
      <td class="span12">
        <strong><%= company.title %></strong><br />
        <% if company.logo? %><%= image_tag company.logo(:medium) %><% end %>
        <%= simple_format(company.overview) %>
      </td>
      <td>
        <% if company.updated_at < Date.today-30 %>
          <font color="red"><%= company.updated_at.strftime '%d.%m.%Y' %></font>
        <% else %>
          <%= company.updated_at.strftime '%d.%m.%Y' %>
        <% end %>
      </td>
      <td><%= link_to 'Редактировать', edit_company_path(company), :class => "btn primary" %></td>
      <td><%= link_to 'Удалить', company, confirm: 'Вы уверены?', method: :delete, :class => "btn danger" %></td>
  </tr>
  <% end %>
  </table>
  <br />

  <div align="right"><%= link_to 'Добавить компанию', new_company_path, :class => "btn success" %></div>
</div>