<!DOCTYPE html>
<html>
<head>
  <title>MelezhaBy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if notice %>
      <div class="alert-message success fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert-message warning fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
    <div class="row">
      <div class="span5">
        <h4>Ссылки</h4>
      </div>
      <div class="span5">
        <h4>Ссылки</h4>
      </div>
      <% if user_signed_in? %>
      <% else %>
      <div class="span5">
        <%= form_for("user", :url => user_session_path) do |f| %>
          <%= f.text_field :email %>
          <%= f.password_field :password %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          <%= f.submit 'Войти' %>
          <%= link_to "Забыли пароль?", new_password_path('user') %>
        <% end %>
      </div>
      <% end %>
    </div>
    <footer>
      Company name
    </footer>
  </div>
  <div class="topbar-wrapper" style="z-index: 5;">
      <div class="topbar" data-dropdown="dropdown">
        <div class="topbar-inner">
          <div class="container">
            <h3><a href=<%= root_path %>>Мележа.by</a></h3>
            <ul class="nav">
              <!-- <li class="active"><a href="#">Главная</a></li> -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">Услуги</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Secondary link</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Another link</a></li>
                </ul>
              </li>
              <li><a href="#">Компании</a></li>
              <li><a href="#">Недвижимость</a></li>
              <li><a href="#">О проекте</a></li>
            </ul>
            <ul class="nav secondary-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">User panel</a>
                <ul class="dropdown-menu">
                  <% if user_signed_in? %>
                    <li><%= link_to "Выход", destroy_user_session_path, :method => 'delete' %></li>
                  <% else %>
                    <li><a href=<%= new_user_session_path %>>Вход</a></li>
                    <li><a href=<%= new_user_registration_path %>>Регистрация</a></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><a href="#">Another</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div><!-- /topbar-inner -->
      </div><!-- /topbar -->
    </div>    
</body>
</html>
